/* Black Lantern Security */ 
$primary-color: #1B1C1D; 
$med-grey: #2A2C2D; 
$white: #FFF;
$green: #96e575; 
$dark-green: #5a8446; 


/* html tags */ 
body { 
	font-family: 'Open Sans', sans-serif; 
	font-size: 1em; line-height: 200%; 
	font-weight: 300; 
	color: $med-grey; 
}
body a { 
	color: $dark-green; 
	text-decoration: none; 
	border-bottom-color: rgb(50,50,50);
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}
body a:hover { 
	color: $dark-green;
	border-bottom-color: $dark-green ;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
h1, h2, h3, h4, h5, h6 { 
	font-family: 'Play', sans-serif; 
	font-weight: 600; 
	line-height: 120%; 
	position: relative; 
	margin-bottom: 20px; 
	padding-bottom: 5px; 
}
h1 { 
	line-height: 90%; 
 }
h2:after {
	content:"";
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 90px; 
	height: 0.5em;
	border-top: 2px solid $green;
	z-index: -1;
}
h1 { 
	font-size: 300%; 
}
a { 
	color: $primary-color; 
}


/* header */ 
#logo { 
	max-width: 300px; 
	margin: 10px 0; 
}
#logo-container a { 
	border: none; 
}


/* Navigation */ 
nav { 
	background-color:#0e0f0f;
}
.nav { 
	padding: 5px 0;
	.nav-link { 
		color: $white;
		border: 0; 
		padding: 10px 20px;
	}
	.nav-link:hover,.nav-link.active {
		color: $green;
		border: 0; 
	 }
}
#top-nav a { 
	display: inline-block; 
	padding: 5px 10px;
	border: 0px !important; 
	color:$primary-color;
	text-align: center;
	vertical-align: middle;
	i { 
		font-size: 140%; 
	}
}
#top-nav a:hover { 
	color: $dark-green; 
}
#mobile-menu { 
	padding: 5px; 
	color: $white; 
	letter-spacing: 1px; 
	i { 
		font-size: 120%; 
		vertical-align: middle; 
		margin-left: 5px;  
	}
}

/* main */
main { 
	padding: 0 0 30px;
	#masthead {
		background-color: $primary-color; 
		background-size: cover; 
		background-position: center center;
		color: #fff; 
		text-align: center; 
		border-bottom: 1px solid $green;
		border-top: 1px solid rgba(255,255,255,.1);
		box-shadow: inset 0 0 250px #000;
		
		i { 
			color: $green; 
			font-size: 500%;
			margin-bottom: 10px; 
		} 
		
		h1 { 
			color: $green; 
			text-align: center; 
		}
		.col { 
			max-width: 900px; 
			margin: 0 auto; 
			padding: 7% 0; 
		}
	}
	.content-container { 
		padding: 3% 0; 
		
		i.lg-icon { 
			font-size: 300%; 
		}
	}
}


/* footer */ 
footer { 
	padding: 40px 0; 
	font-size: 80%; 
	line-height: 160%; 
	border-top: 1px solid $green; 
	
	#footer-logo { 
		max-width: 200px; 
		filter: invert(1); 
		margin-bottom: 10px;  
		opacity: .5;
		transition: all .5s ease-in-out;
	}
	#footer-logo:hover { 
		opacity: 1; 
	 }
	a { 
		color: #AAA !important; 
		border: 0; 
		transition: all .1s ease-in-out; 
	}
	a:hover { 
		color: white !important; 
		border: 0; 
		transition: all .1s ease-in-out; 
	}
	a:hover i { 
		color: $green; 
		transition: all .5s ease-in-out; 
	}
	i { 
		color: white; 
		font-size: 120%; 
		text-align: center; 
		margin-right: 5px; 
	}
}


/* generic classes */ 
.dark-bg { 
	color: #FFF; 
	background-color: $primary-color; 
	a {
		color: green; 
	 }
}
.btn { 
	border: 1px solid $primary-color; 
	color:$primary-color; 
	background-color: $white; 
	border-radius: 0; 
	padding: 10px 25px; 
	transition: all .1s ease-in-out; 
}
.btn:hover { 
	background-color: $primary-color; 
	border-color: $primary-color; 
	color: $green; 
	transition: all .1s ease-in-out; 
}
.btn i { 
	margin-left: 8px; 
}
.lg {  
	strong { 
		font-weight: 900; 
		font-size: 140%; 
		font-family: 'Play', sans-serif; color:#FFF; 
	} 
	strong:hover {
		color: $green; 
	 }
}
@media (max-width: 576px) { 
	.sm-break {  
		display: block; 
		height: 1px; 
		margin-bottom: -1px; 
	}
}
