/* Black Lantern Security */
/* html tags */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 200%;
  font-weight: 300;
  color: #2A2C2D; }

body a {
  color: #5a8446;
  text-decoration: none;
  border-bottom-color: #323232;
  border-bottom-style: dotted;
  border-bottom-width: 1px; }

body a:hover {
  color: #5a8446;
  border-bottom-color: #5a8446;
  border-bottom-style: solid;
  border-bottom-width: 1px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Play', sans-serif;
  font-weight: 600;
  line-height: 120%;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 5px; }

h1 {
  line-height: 90%; }
@media only screen and (max-width: 600px) {
  h1 { font-size: 30px !important;}
}
h2:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 90px;
  height: 0.5em;
  border-top: 2px solid #96e575;
  z-index: -1; }

h1 {
  font-size: 300%; }
h2 { font-size: 270%; }
a {
  color: #1B1C1D; }

/* header */
#logo {
  max-width: 300px;
  margin: 10px 0; }

#logo-container a {
  border: none; }

/* Navigation */
nav {
  background-color: #0e0f0f; }

.nav {
  padding: 5px 0; }
  .nav .nav-link {
    color: #FFF;
    border: 0;
    padding: 10px 20px; }
  .nav .nav-link:hover, .nav .nav-link.active {
    color: #96e575;
    border: 0; }

#top-nav a {
  display: inline-block;
  padding: 5px 10px;
  border: 0px !important;
  color: #1B1C1D;
  text-align: center;
  vertical-align: middle; }
  #top-nav a i {
    font-size: 140%; }

#top-nav a:hover {
  color: #5a8446; }

#mobile-menu {
  padding: 5px;
  color: #FFF;
  letter-spacing: 1px; }
  #mobile-menu i {
    font-size: 120%;
    vertical-align: middle;
    margin-left: 5px; }

/* main */
main {
  padding: 0 0 0px; }
  main #masthead {
    background-color: #1B1C1D;
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #96e575;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 250px #000; }
    main #masthead i {
      color: #96e575;
      font-size: 120px;
      margin-bottom: 10px; }
    main #masthead h1 {
      color: #96e575;
      text-align: center; }
    main #masthead .col {
      max-width: 800px;
      margin: 0 auto;
      padding: 7% 0;
    font-size: 20px; }
  main .content-container {
    padding-top: 3% ;
  padding-bottom: 3%; }
    main .content-container i.lg-icon {
      font-size: 200%; display: inline; }
      .inline { display: inline; }
      .inline:after { border: 0px !important; }

/* footer */
footer {
  padding: 40px 0;
  font-size: 80%;
  line-height: 160%;
  border-top: 1px solid #96e575; }
  footer #footer-logo {
    max-width: 200px;
    filter: invert(1);
    margin-bottom: 10px;
    opacity: .5;
    transition: all .5s ease-in-out; }
  footer #footer-logo:hover {
    opacity: 1; }
  footer a {
    color: #AAA !important;
    border: 0;
    transition: all .1s ease-in-out; }
  footer a:hover {
    color: white !important;
    border: 0;
    transition: all .1s ease-in-out; }
  footer a:hover i {
    color: #96e575;
    transition: all .5s ease-in-out; }
  footer i {
    color: white;
    font-size: 120%;
    text-align: center;
    margin-right: 5px; }

/* generic classes */
.dark-bg {
  color: #FFF;
  background-color: #1B1C1D; }
  .dark-bg a {
    color: green; }

.btn {
  border: 1px solid #1B1C1D;
  color: #1B1C1D;
  background-color: #FFF;
  border-radius: 0;
  padding: 10px 25px;
  transition: all .1s ease-in-out; }

.btn:hover {
  background-color: #1B1C1D;
  border-color: #1B1C1D;
  color: #96e575;
  transition: all .1s ease-in-out; }

.btn i {
  margin-left: 8px; }

.lg strong {
  font-weight: 900;
  font-size: 140%;
  font-family: 'Play', sans-serif;
  color: #FFF; }
.lg strong:hover {
  color: #96e575; }

@media (max-width: 576px) {
  .sm-break {
    display: block;
    height: 1px;
    margin-bottom: -1px; } }

/*# sourceMappingURL=app.css.map */

#interior-masthead {
  background-color:#000; 
  color:#FFF;
  line-height: 1.4em;
/*   border-bottom: 5px solid #96e575;  */
 }
 #interior-masthead h1 { 
   color: #96e575; 
 }
#interior-masthead i { 
   color: #96e575; 
   position: absolute;
   left: 20px;
   font-size: 50px;
 }
 @media only screen and (max-width: 600px) {
#interior-masthead i { 
  left: -10px;
}
}

.menu-shown { display: block !important; } 
.menu-shown li { display: block !important; width: 100%; text-align: center;  }
  #interior-masthead .content-container { 
    max-width: 750px;
    padding-left: 100px; 
    position: relative;
  }
@media only screen and (max-width: 600px) {
#interior-masthead .content-container { 
  padding-left: 70px;
  padding-top: 20px; 
} 
 }
.padded-container { 
  padding-top: 70px;
  padding-bottom: 70px;
}  
.large-icon { font-size: 200px; }
@media only screen and (max-width: 600px) {
.large-icon { font-size: 100px; }
}
.grey-bg { background-color: #F7F7F7; }
.black-bg { background-color:#000; color: #FFF; }
.black-bg h2, .black-bg h3, .black-bg a { color: #96e575 }
.black-bg .btn { border: 1px solid #96e575; color: #96e575; background-color: transparent; }
.md-icon { font-size: 50px; }
.padded-content { padding: 35px; }

.accordion-button:not(.collapsed) {
  color: #FFF;
  background-color: #000;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.grey-box {
  background-color: #F7F7F7;
  padding: 35px;
  border: 10px solid #FFF; 
}

#interior-masthead nav {
  background-color: transparent;
  color:#FFF;
}
.breadcrumb-item.active, .breadcrumb-item+.breadcrumb-item::before { color: #FFF; }
#interior-masthead nav a { color: #96e575; }